* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease 225ms;
}

:root {
    --dark-brown: hsl(25, 47%, 15%);
    --soft-red: hsl(10, 79%, 65%);
    --soft-red-hover: hsla(10, 79%, 65%, 0.8);
    --cyan: hsl(186, 34%, 60%);
    --cyan-hover: hsla(186, 34%, 60%, 0.8);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
}

@font-face {
    font-family: "DM-SansRegular";
    src: local("DM-SansRegular"),
        url("./fonts/DM-Sans/DMSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "DM-SansBold";
    src: local("DM-SansBold"),
        url("./fonts/DM-Sans/DMSans-Bold.ttf");
    font-weight: 700;
}

html {
    font-size: 62.5%; /*normalize 1rem to 10px */
}


.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0 auto;

    background-color: var(--cream); 
    font-family: 'DM-SansRegular';
}

.account__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-width: 37.5rem;
    max-width: 60rem;
    padding: 1.5rem;
}