.graph__container {
    margin-bottom: 4rem;
    /* overflow-x: scroll; */

}

.graph__header {
    font-size: 2.8rem;
    font-family: 'DM-SansBold';
    color: var(--dark-brown);
}

.graph__canvas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-end; */
    /* padding: 1rem 0; */
    margin-top: 4rem;

    min-height: 20rem;
    width: 100%;

    /* background-color: magenta; */
}

.graph-bar__box {
    position: relative;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    padding: 1rem;
    /* border: 1px solid red; */
    max-width: 100%;
    /* margin: 0 .25rem; */
    justify-content: flex-end;
    overflow: none;
}

.graph-bar__container {
    display: flex;
    flex-direction: column;
}

.graph-bar--item {
    position: relative;
    z-index: 1;
    align-self: center;
    min-width: 1rem;
    width: 100%;
    opacity: 1;
    background-color: var(--soft-red);
    border-radius: .5rem;
    transition: all ease 225ms;
    
    
}

.graph-bar--item:hover {
    cursor: pointer;
    /* background-color: var(--cyan-hover); */
    transition: all ease 225ms;
    background-color: var(--soft-red-hover);
}

.selected {
    background-color: var(--cyan);
    transition: all ease 225ms;

}


.graph-bar--item.selected:hover {
    background-color: var(--cyan-hover);
    transition: all ease 225ms;
}

.graph-bar--amount {
    display: none;
    z-index: 9999;

    padding: .5rem;
    border-radius: .5rem;
    opacity: 2;
    background-color: var(--dark-brown);
    color: var(--cream);
    font-size: 1.6rem;
    font-family: DM-SansBold;
    transition: all ease 225ms;
}

.showAmount {
    display: flex;
    position: absolute;
    top: -4rem;
    left: 50%;
    min-width: 100%;

    justify-content: center;
    transform: translateX(-50%);
}



.graph-bar__labels {
    align-self: center;
    font-family: DM-SansBold;
    color: var(--medium-brown);
}