.account-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 2.2rem;
    width: 100%;

    background-color: var(--soft-red);
    border-radius: 1rem;
    font-family: 'DM-SansBold';
    color: var(--cream);

}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary__header {
    font-size: 1.4rem;
    font-family: "DM-SansRegular";
}

.summary__detail {
    font-size: 2.4rem;
}

.logo {
    background-image: url('../images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 5.2rem;
    width: 7rem;
}