.spend__summary {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.spend__summary::before {
    content: '';
    position: absolute;
    z-index: 9999;
    top: -2rem;

    border-radius: 1rem;

    height: .25rem;
    width: 100%;
    background-color: var(--cream);
}

.summary__total {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
}

.total__header {
    font-size: 1.4rem;
    color: var(--medium-brown);
}

.total__amount {
    font-size: 3rem;
    justify-self: flex-end;
    margin-bottom: -.5rem;
    font-family: 'DM-SansBold';
    color: var(--dark-brown);
}

.summary__change {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    /* flex: 1; */
}

.change__amount {
    align-self: flex-end;
    
    font-size: 1.8rem;
    font-family: 'DM-SansBold';
    color: var(--dark-brown);
}

.change__header {
    align-self: flex-end;
    font-size: 1.4rem;
    color: var(--medium-brown);
}

@media only screen and (min-width: 26.5rem) {
    .total__header {
        font-size: 2rem;
        transition: all ease 225ms;

    }

    .total__amount {
        font-size: 4rem;
        transition: all ease 225ms;
    }
    .change__header {
        font-size: 2rem;
        transition: all ease 225ms;
    }

    .change__amount {
        font-size: 2.5rem;
        transition: all ease 225ms;
    }

}